* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #222;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url(../fonts/Poppins-Medium.otf);
}
@font-face {
  font-family: "PoppinsRegular";
  src: url(../fonts/Poppins-Regular.otf);
}

:root {
  --color-backgroud: #fffdf7;
  --color-black: #212121;
  --color-text: #4f4f4f;
  --color-text-out: #90909e;
  --color-primary: #ffbf00;
  --color-primary-1: #f4c949;
  --color-secondary: #fff2cc;
  --color-white: #ffffff;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #cccccc;
}
body {
  font-family: 'PoppinsRegular', 'Rubik', sans-serif;
  background-color: var(--color-backgroud);
  color: var(--color-text);
}
b{
  font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.color-primary{
  color: var(--color-primary);
}
.btn-yellow{
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  border-radius: 20px;
  padding: 15px 25px;
  font-size: 1.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, .1);
}
.btn-yellow:hover{
  background-color: var(--color-primary-1);
}